
.job-item {
    height: 200px;
    text-align: center;
    padding: 20px 0;
    transition: transform .2s;
    text-decoration: none;
}

.job-item-icon {
    font-size: 60px;
    color: #8540f5;
}

.job-item p {
    font-size: 18px;
    margin-top: 30px;
    color: #000;
}

.text-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 700;
}

.job-item:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #ccc;
    border-radius: 10px;
    transform: scale(1.1);
}

.baner img {
    width: 100%;
    cursor: pointer;
}

.padding-20 {
    padding-bottom: 20px;
}


.item:hover {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-border-color);
}